
.title {
    font-size: 40px;
    line-height: 1.2em;
    color: #bfbfbf;
    margin-bottom: 20px;
    width: 173px;
    height: 35px;
    top: -3px;
    left: -2px;
}

.m-5 {
    margin: 3rem !important;
    box-sizing: border-box;
    padding: 0 90px 0 0;
}

.text-center {
    text-align: center !important;
}


.form-control {
    display: ruby-text;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #cac6c6;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s cubic-bezier(0, 0.7, 0.58, 1);
}

.list li img {
    float: left;
     margin: 1px 14px 0 0;
}

.pt-xs {
    padding-top: 3px !important;
}

.pt-xs {
    padding-top: 17px !important;
}


.qb-movie-rating-info .rating-icon {
    height: 26px;
    vertical-align: text-bottom;
    display: inline;
    margin: 14px 0 0 0;
}
.mr-sm {
    margin-right: 10px !important;

}
/*===================*/
.title-movie {
    font-size: 20px;
}


/*==================*/

.screening-type {
    display: table;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 24px;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}
/*==================*/


.npm-quickbook{
 padding: 19px;
}


.npm-quickbook .btn-primary {
    padding: 12px 10px;
    min-width: 64px;
    text-align: center;
    margin-bottom: 8px;
    margin-right: 4px;
    border-radius: 0.5rem;
    background-color: #f5821e;
    color: black;
}

.btn:hover, .btn:focus, button:hover, button:focus {
    color: #191919;
}

.btn:hover, .btn:focus {
    color: #191919;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #c26717;
    color: #000;
    border: 0;
}
.btn-primary:visited, .btn-primary:active {
    background-color: #f5821e;
    /*color: #000;*/
    border: 0;
}


/*================================*/
.qb-movie-attributes {
    display: table;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}


.qb-movie-attributes {
    display: table;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}


/*===================================*/
button {
    background-color: rgb(224, 100, 27);
    color: #1b0202;
    border: none;
    border-radius: 6px;
    padding: 12px 62px;
}

button:hover {
    background-color: rgb(201, 16, 16);
    cursor: pointer;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}
.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important
}

/*========================= Delete button*/
.npm-quickbook .btn-primary-delete{
    padding: 12px 30px;
    min-width: 64px;
    text-align: center;
    margin-bottom: 8px;
    margin-right: 4px;
    margin-left: 462px;
    border-radius: 0.5rem;
    background-color: #f5821e;
    color: black;
}