<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cinema Tickets</title>
</head>
<body id="page5">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <h3>CINEMA <span>EXPERIENCE</span></h3>
                                <p><img class="_4-dx-pic" src="/images/_4DX_new.jpg" alt="4-DX-Picture"/></p>
                                <div class="content">
                                    <div>
                                        <iframe width="323" height="321" src="https://www.youtube.com/embed/nkpP024OUeM"
                                                title="4DX Showreal" frameborder="0" allow="accelerometer; autoplay;
                                                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                referrerpolicy="strict-origin-when-cross-origin"
                                                allowfullscreen></iframe>
                                        <div class="col-xs-12 col-sm-4">
                                            <h4>КИНО ПРЕЖИВЯВАНЕ</h4>
                                            <p><strong>4DX - ВЛЕЗ ВЪВ ФИЛМА</strong></p>
                                            <p>4DX® &nbsp;е най-големият и най-новият супергерой на кино индустрията за
                                                пълно потопяне в кинематографичното преживяване.</p>
                                            <p>Четириизмерната технология е създадена в Южна Корея през 2009 г.,
                                                а в Европа навлиза през 2013 г. При нея, ефектите стимулират сетивата на
                                                зрителите далеч отвъд границите на аудио-визуалното преживяване в
                                                стандартните кино салони. Всяко филмово заглавие идва на екран с уникална
                                                хореография и смесица от въздух, вода, аромат, движение, вибрации, които
                                                се случват в синхрон с действието на екрана. Опитният екип от&nbsp; 4DX®
                                                експерти ще ви направят част от всеки филм, без да нарушат естествените
                                                граници на вашата комфортна зона. Освободете се от ограниченията и се
                                                насладете на абсолютното преживяване 4DX®.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>
