<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cinema Tickets</title>
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <h3>About <b>Cinema</b> <span>Tickets</span></h3>
                                <p th:text="#{about-us-info1}">The first multiplex with 13 halls was built in Sofia in 2006.
                                    It houses the first and largest IMAX screen in Bulgaria. This is just the beginning of
                                    a rapid business development of the chain in the country.
                                </p>
                                <div class="img-box1"><img src="/images/1page-img1.jpg" alt=""/>
                                    <p th:text="#{about-us-info2}">The second multiplex with 11 screens in Plovdiv opened
                                        its doors in March 2009. A multiplex with 7 halls was opened and in Stara Zagora
                                        in November 2010. The same year, in December, the modern facility in the city of Ruse was opened.
                                    </p>
                                </div>
                                <p th:text="#{about-us-info3}">Cinema Tickets Gallery Burgas opened its doors in 2012.
                                    It is equipped with the latest generation of cinema equipment, 10 modern halls,
                                    5 of which are 3D. Cinema Tickets Paradise has 14 halls, as therefore the first
                                    time before the Bulgarian viewers were presented with the absolute 4DX cinema experience
                                    - exclusively offered by Cinema Tickets for Bulgaria.
                                </p>
                                <p th:text="#{about-us-info4}">Since 2016, there is also a 4DX hall in Cinema Tickets Plovdiv.
                                    March 2019 also opened our newest and modern cinema: Cinema Tickets Varna. The multiplex
                                    consists of 12 halls, among which a hall with Dolby Atmos Surround sound,
                                    as well as the first 4DX on the Bulgarian Black Sea coast.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="col-md-6"></div>
                    <img class="bg-map-img"
                         alt src="/images/map_BG_2019.jpg">
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>