<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cinema Tickets</title>
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <h3>About <b>Cinema</b> <span>Tickets</span></h3>
                                <p th:text="#{about-us-info1}">Първият мултиплекс с 13 зали е изграден в София през 2006 г. В него се помещава и
                                    първият и най-голям IMAX екран в България.Tова поставя само началото на едно бързо
                                    бизнес развитие на веригата в страната.</p>
                                <div class="img-box1"><img src="/images/1page-img1.jpg" alt=""/>
                                    <p th:text="#{about-us-info2}">Вторият мултиплекс с 11
                                    зали в Пловдив отвори врати през март, 2009 година. Мултиплекс със 7 зали беше
                                    открит и в Стара Загора през ноември, 2010. Същата година, през декември, е открит и
                                    модерният обект в град Русе.</p>
                                </div>
                                <p th:text="#{about-us-info3}">Cinema Tickets Галерия Бургас отваря врати през 2012-та година.Оборудвано е с последно
                                    поколение кинотехника, 10 модерни зали, 5 от които са 3D. Cinema City Парадайс e
                                    с 14 зали, като там за първи път пред българския зрител беше представено абсолютното
                                    кино преживяване 4DX – ексклузивно предлагано от Cinema City за България.</p>
                                <p th:text="#{about-us-info4}">От 2016 година, 4DX зала има и в Cinema City Пловдив. Март 2019 отвори и
                                    най-новото ни и модерно кино: Cinema City Варна. Мултиплексът се състои от 12 зали,
                                    сред които зала с Dolby Atmos Surround звук, както и първият 4DX на Българското
                                    Черноморие.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="col-md-6"></div>
                    <img class="bg-map-img"
                         alt src="/images/map_BG_2019.jpg">
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>