<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <link rel="stylesheet" href="/css/style-add-offer.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cinema Tickets</title>
</head>
<body id="page10">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>
                <div class="content">

                    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Offer</span></h1>
                    <form class="welcome add-offer-form"
                          th:method="post"
                          th:action="@{/offers/add-offer}"
                          th:object="${createOffer}">

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                <label for="name" class="h4 mb-2">Name</label>
                            </div>
                            <input type="text" class="form-control"
                                   id="name"
                                   name="name"
                                   th:field="*{title}"
                            />
                            <small th:if="${#fields.hasErrors('title')}"
                                   th:errors="*{title}" class="text-danger">Title error message</small>
                        </div>


                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                <label for="description" class="h4 mb-2">Description</label>
                            </div>
                            <textarea type="text" class="form-control"
                                      id="description"
                                      name="description"
                                      minlength="5" maxlength="250"
                                      th:field="*{description}">
                            </textarea>
                            <small th:if="${#fields.hasErrors('description')}"
                                   th:errors="*{description}" class="text-danger">Description error message</small>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                <label for="imageUrl" class="h4 mb-2">Image URL</label>
                            </div>
                            <textarea type="text" class="form-control"
                                      id="imageUrl"
                                      name="imageUrl"
                                      minlength="10"
                                      th:field="*{imageUrl}">
                            </textarea>
                            <small th:if="${#fields.hasErrors('imageUrl')}"
                                   th:errors="*{imageUrl}" class="text-danger">Image URL error message</small>
                        </div>
                        <div class="form-group">
                            <div class="text-white label-holder d-flex justify-content-center">
                                <label for="projectionFormat" class="h4 mb-2">Offer Type</label>
                            </div>
                            <select class="browser-default custom-select"
                                    id="projectionFormat"
                                    name="projectionFormat"
                                    th:field="*{offerCategory}">

                                <option value="">Select Type Offer</option>
                                <option value="CINEMA_OFFERS">Cinema Offers</option>
                                <option value="FOR_THE_SCHOOLS">For the Schools</option>
                                <option value="FOR_THE_BUSINESS">For the Business</option>
                            </select>

                            <small th:if="${#fields.hasErrors('offerCategory')}"
                                   th:errors="*{offerCategory}" class="text-danger">Offer Type error message</small>
                        </div>

                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" class="btn btn-info mb-3">Add offer</button>
                        </div>

                    </form>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>