<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cinema Tickets</title>
</head>
<body id="page10">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>

                <div class="content">
                    <h3>Contact <span>Form</span></h3>
                    <form id="contacts-form"
                          action="#">
                        <fieldset>
                            <div class="field">
                                <label>Your Name:</label>
                                <input type="text" value=""/>
                            </div>
                            <div class="field">
                                <label>Your E-mail:</label>
                                <input type="text" value=""/>
                            </div>
                            <div class="field">
                                <label>Your Message:</label>
                                <textarea cols="1" rows="1"></textarea>
                            </div>
                            <div class="wrapper"><a href="/" class="link2">
                                <span> <span>Send Your Message</span> </span> </a></div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>