<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <link rel="stylesheet" href="/css/style-add-movie.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cinema Tickets</title>
</head>
<body id="page10">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>
                <div class="content">
<!--                    <h3>Add <span>Movie</span></h3>-->
                    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Movie</span></h1>
                    <form class="welcome add-offer-form"
                          th:method="post"
                          th:action="@{/movies/add-movie}"
                          th:object="${createMovie}">

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                <label for="name" class="h4 mb-2">Name</label>
                            </div>
                            <input type="text" class="form-control"
                                   id="name"
                                   name="name"
                                   th:field="*{name}"
                            />
                            <small th:if="${#fields.hasErrors('name')}"
                                   th:errors="*{name}" class="text-danger">Name error message</small>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                <label for="movieLength" class="h4 mb-2">Movie Length</label>
                            </div>
                            <input type="text" class="form-control"
                                   id="movieLength"
                                   name="movieLength"
                                   th:field="*{movieLength}"
                            />
                            <small th:if="${#fields.hasErrors('movieLength')}"
                                   th:errors="*{movieLength}" class="text-danger">Movie Length error message</small>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                <label for="audio" class="h4 mb-2">Audio</label>
                            </div>
                            <input type="text" class="form-control"
                                   id="audio"
                                   name="audio"
                                   th:field="*{audio}"
                            />
                            <small th:if="${#fields.hasErrors('audio')}"
                                   th:errors="*{audio}" class="text-danger">Audio error message</small>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                <label for="subtitles" class="h4 mb-2">Subtitles</label>
                            </div>
                            <input type="text" class="form-control"
                                   id="subtitles"
                                   name="subtitles"
                                   th:field="*{subtitles}"
                            />
                            <small th:if="${#fields.hasErrors('subtitles')}"
                                   th:errors="*{subtitles}" class="text-danger">Subtitles error message</small>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                <label for="description" class="h4 mb-2">Description</label>
                            </div>
                            <textarea type="text" class="form-control"
                                   id="description"
                                   name="description"
                                   th:field="*{description}">
                            </textarea>
                            <small th:if="${#fields.hasErrors('description')}"
                                   th:errors="*{description}" class="text-danger">Description error message</small>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                <label for="imageUrl" class="h4 mb-2">Image URL</label>
                            </div>
                            <textarea type="text" class="form-control"
                                      id="imageUrl"
                                      name="imageUrl"
                                      th:field="*{imageUrl}">
                            </textarea>
                            <small th:if="${#fields.hasErrors('imageUrl')}"
                                   th:errors="*{imageUrl}" class="text-danger">Image URL error message</small>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                <label for="trailerUrl" class="h4 mb-2">Trailer URL</label>
                            </div>
                            <textarea type="text" class="form-control"
                                      id="trailerUrl"
                                      name="trailerUrl"
                                      th:field="*{trailerUrl}">
                            </textarea>
                            <small th:if="${#fields.hasErrors('trailerUrl')}"
                                   th:errors="*{trailerUrl}" class="text-danger">Trailer URL error message</small>
                        </div>

                        <div class="form-group">
                            <div class="text-white label-holder d-flex justify-content-center">
                                <label for="projectionFormat" class="h4 mb-2">Projection Format</label>
                            </div>
                            <select class="browser-default custom-select"
                                    id="projectionFormat"
                                    name="projectionFormat"
                                    th:field="*{projectionFormat}">

                                <option value="">Select Projection Format</option>
                                <option value="D_2D">2D</option>
                                <option value="D_3D">3D</option>
                                <option value="D_4DX">4DX</option>
                            </select>

                            <small th:if="${#fields.hasErrors('projectionFormat')}"
                            th:errors="*{projectionFormat}" class="text-danger">Projection Format error message</small>
                        </div>
                        <div class="form-group">
                            <div class="text-white label-holder d-flex justify-content-center">
                                <label for="hallNumber" class="h4 mb-2">Hall Number</label>
                            </div>
                            <select class="browser-default custom-select"
                                    id="hallNumber"
                                    name="hallNumber"
                                    th:field="*{hallNumber}">

                                <option value="">Select Hall Number</option>
                                <option value="HALL_1">1</option>
                                <option value="HALL_2">2</option>
                                <option value="HALL_3">3</option>
                                <option value="HALL_4">4</option>
                                <option value="HALL_5">5</option>
                                <option value="HALL_6">6</option>
                                <option value="HALL_7">7</option>
                                <option value="HALL_8">8</option>
                            </select>

                            <small th:if="${#fields.hasErrors('hallNumber')}"
                                   th:errors="*{hallNumber}" class="text-danger">Projection Format error message</small>
                        </div>

                        <div class="form-group">
                            <div class="text-white label-holder d-flex justify-content-center">
                                <label for="classMovie" class="h4 mb-2">Class Of Movie</label>
                            </div>
                            <select class="browser-default custom-select"
                                    id="classMovie"
                                    name="classMovie"
                                    th:field="*{movieClass}">

                                <option value="">Select Class Movie</option>
                                <option value="B_">B</option>
                                <option value="C_">C</option>
                                <option value="C_PLUS">C+</option>
                                <option value="D_">D</option>
                                <option value="X_">X</option>
                                <option value="TBC">?</option>
                            </select>

                            <small th:if="${#fields.hasErrors('movieClass')}"
                                   th:errors="*{movieClass}" class="text-danger">Class Movie error message</small>
                        </div>

                        <div class="form-group">
                            <div class="text-white label-holder d-flex justify-content-center">
                                <label for="genreCategories" class="h4 mb-2">Genre Of Movie</label>
                            </div>
                            <select class="browser-default custom-select"
                                    name="genreCategories[]"
                                    id="genreCategories" multiple="multiple"
                            th:field="*{genreCategories}">
                                <option value="">Select Genre</option>
                                <option value="ACTION">Action</option>
                                <option value="ADVENTURE">Adventure</option>
                                <option value="ANIMATION">Animation</option>
                                <option value="BULGARIAN">Bulgarian</option>
                                <option value="COMEDY">Comedy</option>
                                <option value="FAMILY">Family</option>
                                <option value="FANTASY">Fantasy</option>
                                <option value="HORROR">Horror</option>
                                <option value="MYSTERY">Mystery</option>
                                <option value="ROMANTIC">Romantic</option>
                                <option value="THRILLER">Thriller</option>
                            </select>

                            <small th:if="${#fields.hasErrors('genreCategories')}"
                                   th:errors="*{genreCategories}" class="text-danger">Genre error message</small>
                        </div>

                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" class="btn btn-info  mb-3">Add movie</button>
                        </div>

                    </form>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>