<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <header th:replace="~{fragments/common-order-tickets::head}"></header>
</head>
<body id="ctl00_pageBody" class="ltr">
<label class="logo"><a href="/">Cinema <span class="logo-name">Tickets</span></a></label>
<header th:replace="~{fragments/commons::form.language}"></header>

<a name="totop" href="#" id="totop" th:object="${bookingTime}"></a>

<form name="aspnetForm"
      th:method="put"
      th:action="@{/order/buy-tickets/{orderId}/movie/{movieId}/time/{timeId}(orderId=${orderMovie.id}, movieId=${movieView.id}, timeId=${bookingTime.id})}"
      th:object="${orderMovie}">

    <input type="hidden" name="hfSKey" id="hfSKey" value="|||||||||BGPlovdivPOW_res|280025|"/>
    <input type="hidden" value="DFBKCeC7" name="hfOIKey" id="hfOIKey"/>
    <div id="pagecontainer" class="pagecontainer selectticketspageres">
        <div class="wrap">
            <div id="header">
                <div id="logo"></div>
            </div>
            <div style="clear: both;"></div>
            <div class="steps">
                <div class="step onstep"><span>1</span><label th:text="#{steps-step1}">Ticket selection</label></div>
                <div class="step"><span>2</span><label th:text="#{steps-step2}">Seats selection</label></div>
                <div class="step"><span>3</span><label th:text="#{steps-step3}">Confirmation</label></div>
                <div class="step last"><span>4</span><label th:text="#{steps-step4}">Order completion</label></div>
                <div class="clear"></div>
            </div>
            <div id="error" class="error" style="display:none;" role="alert">
                <div class="msg-block">
                    <div class="msg-title"></div>
                </div>
            </div>
            <div id="success" class="success" style="display:none;">
                <div class="msg-block">
                    <div class="msg-title"></div>

                </div>
            </div>
            <div id="info" class="info" style="display:none;">
                <div class="msg-block">
                    <div class="msg-title"></div>

                </div>
            </div>
            <div class="sidebar">

                <div class="selectionInfo" th:object="${movieView}">
                    <div class="selectionInfoInner">
                        <div class="movieName">
                            <h3 th:text="${movieView.name}">NameMovie</h3>
                        </div>
                        <div class="eventdate" th:text="|${orderMovie.projectionDateView} ${orderMovie.bookingTime}|">
                            10-07-2024 18:00h
                        </div>
                        <div class="siteinfo">
                            <span th:text="|#{buy-ticket-city}: ${orderMovie.location.value}|">City: Plovdiv</span><br/>
                            <span th:text="|#{buy-ticket-hall}: ${movieView.hallNumber.value}|">Hall: 5</span><br/>
                            <span id="rating" class="rating restricted"
                                  th:text="|#{buy-ticket-category}: ${movieView.movieClass.description}|">Category: X</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="main">
                <div class="selectTicket">

                    <h1 th:text="#{buy-ticket-title}">Choose tickets</h1>
                    <div class="ticketGroupDescription"></div>
                    <div id="smcontainer"></div>
                    <div>
                        <table class="ticketTable" cellspacing="0" rules="all" border="0" id="TicketsSelection"
                               style="border-width:0px;border-collapse:collapse;">
                            <tr class="header">
                                <th scope="col" th:text="#{buy-ticket-type}">Type</th>
                                <th class="TicketsSelectionPriceHeader" scope="col" th:text="#{buy-ticket-price}">Price</th>
                                <th scope="col" th:text="#{buy-ticket-tax}">Adm. Fee</th>
                                <th scope="col" th:text="#{buy-ticket-quantity}">Q-ty</th>
                            </tr>
                            <tr class="TT_2">
                                <td>
                                    <div class="type-ticket"><span id="childTicketName" th:text="#{buy-ticket-type-name1}">Children under 16</span></div>
                                </td>
                                <td>
                                    <span id="childPrice" th:text="|10.50 #{buy-ticket-price-BGN}|">10.50 lv</span>
                                </td>
                                <td>
                                    <span id="childServiceCharge" th:text="|0.80 #{buy-ticket-price-BGN}|">0.80 lv</span>
                                </td>
                                <td>
                                    <label for="ticketsQuantity"></label>
                                    <select name="ticketsQuantity"
                                            id="ticketsQuantity"
                                            class="ddlTicketQuantity"
                                            th:field="*{childQuantity}">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="TT_12">
                                <td>
                                    <div class="type-ticket"><span
                                            id="studentTicketName" th:text="#{buy-ticket-type-name2}">Pupils and Students</span></div>
                                </td>
                                <td>
                                    <span id="studentPrice" th:text="|12.50 #{buy-ticket-price-BGN}|">12.50 lv</span>
                                </td>
                                <td>
                                    <span id="studentServiceCharge" th:text="|0.80 #{buy-ticket-price-BGN}|">0.80 lv</span>
                                </td>
                                <td>
                                    <select name="ctl00$CPH1$SelectTicketControl$TicketsSelection$ctl03$ddQunatity"
                                            id="ddQunatity_1"
                                            class="ddlTicketQuantity"
                                            th:field="*{studentQuantity}">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="TT_3">
                                <td>
                                    <div class="type-ticket"><span id="aged60TicketName" th:text="#{buy-ticket-type-name3}">People Over 60</span></div>
                                </td>
                                <td>
                                    <span id="aged60Price" th:text="|11.50 #{buy-ticket-price-BGN}|">11.50 lv</span>
                                </td>
                                <td>
                                    <span id="aged60ServiceCharge" th:text="|0.80 #{buy-ticket-price-BGN}|">0.80 lv</span>
                                </td>
                                <td>
                                    <select name="ctl00$CPH1$SelectTicketControl$TicketsSelection$ctl04$ddQunatity"
                                            id="ddQunatity_2"
                                            class="ddlTicketQuantity"
                                            th:field="*{overSixtyQuantity}">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="TT_1">
                                <td>
                                    <div class="type-ticket"><span id="regularTicketName" th:text="#{buy-ticket-type-name4}">Regular</span></div>
                                </td>
                                <td>
                                    <span id="regularPrice" th:text="|15.50 #{buy-ticket-price-BGN}|">15.50 lv</span>
                                </td>
                                <td>
                                    <span id="regularServiceCharge" th:text="|0.80 #{buy-ticket-price-BGN}|">0.80 lv</span>
                                </td>
                                <td>
                                    <select name="ctl00$CPH1$SelectTicketControl$TicketsSelection$ctl05$ddQunatity"
                                            id="ddQunatity_3"
                                            class="ddlTicketQuantity"
                                            th:field="*{regularQuantity}">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <small th:if="${#fields.hasErrors('regularQuantity')}"
                                       th:errors="*{regularQuantity}" class="text-danger">
                                    Tickets quantity error message</small>
                            </tr>
                        </table>
                    </div>
                    <input type="hidden" name="ctl00$CPH1$SelectTicketControl$TicketGroupId"
                           id="ctl00_CPH1_SelectTicketControl_TicketGroupId"/>
                    <input type="hidden" name="ctl00$CPH1$SelectTicketControl$hdnSelectedTicketGroupIdInTicketMode"
                           id="ctl00_CPH1_SelectTicketControl_hdnSelectedTicketGroupIdInTicketMode"/>
                    <div class="actionHolder">
                        <a id="ctl00_CPH1_lbBackButton_hlBack" class="backBtn back-link" href="/program" th:text="#{button-back}">Back</a>
                        <input type="submit" class="actionBtn" value="Choose Seats"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="footer selectticketspageres"></div>
</form>
<footer th:replace="~{fragments/commons::footer}"></footer>
<script language="javascript" type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
</body>
</html>