<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cinema Tickets</title>
</head>
<body id="page10">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <h3>Our <span>Contacts</span></h3>
                                <div class="address">
                                    <div class="fleft"><span>Zip Code:</span>1000<br/>
                                        <span>Country:</span>Bulgaria<br/>
                                        <span>Telephone:</span>+359 123456789<br/>
                                        <span>Fax:</span>+359 123456789
                                    </div>
                                    <div class="extra-wrap"><span>Забележка:</span><br/>

                                        Моля да ни предоставите минимално количество данни, тоест само тези,
                                        които са необходими за връзка с нас или за идентифициране!
                                        <p></p>
                                        Копие на вашето съобщение ще ви бъде изпратено на посочения имейл.
                                        В случай, че искате да се свържете с нас и да ни предоставите своите лични данни,
                                        Ви уведомяваме, че Вашите лични данни ще бъдат обработени от Синема Тикетс,
                                        в качеството му на администратор на лични данни, в съответствие със Закона за
                                        защита на личните данни. Едновременно с предоставянето на личните си данни,
                                        Вие давате съгласието си данните, посочени от Вас да бъдат използвани от
                                        Синема Тикетс за предоставянето на поръчаните услуги или продукти и/или за
                                        комуникация с Вас в случай на необходимост.
                                        <p></p>
                                        Предоставянето на личните данни е доброволно. Когато за ползването на дадена
                                        услуга или функционалност на Сайта се изисква предоставянето на лични данни,
                                        Синема Тикетс ясно обозначава задължителния или опционалния характер на събираните данни.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h3>Contact <span>Form</span></h3>
                    <form id="contacts-form" action="#">
                        <fieldset>
                            <div class="field">
                                <label>Your Name:</label>
                                <input type="text" value=""/>
                            </div>
                            <div class="field">
                                <label>Your E-mail:</label>
                                <input type="text" value=""/>
                            </div>
                            <div class="field">
                                <label>Your Message:</label>
                                <textarea cols="1" rows="1"></textarea>
                            </div>
                            <div class="wrapper"><a href="#" class="link2">
                                <span> <span>Send Your Message</span> </span> </a></div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>