<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cinema Tickets</title>
</head>
<body id="page10">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <h3>Our <span>Contacts</span></h3>
                                <div class="address">
                                    <div class="fleft"><span th:text="#{contact-us-zip-code}">Zip Code:</span>1000<br/>
                                        <span th:text="#{contact-us-country}">Country:</span>Bulgaria<br/>
                                        <span th:text="#{contact-us-telephone}">Telephone:</span>+359 123456789<br/>
                                        <span th:text="#{contact-us-fax}">Fax:</span>+359 123456789
                                    </div>
                                    <div class="extra-wrap"><span th:text="#{contact-us-note}">Note:</span><br/>
                                        <p th:text="#{contact-us-note1}">Please provide us with a minimum amount of data,
                                            i.e. only that which is necessary to contact us or for identification!
                                        </p>
                                        <p th:text="#{contact-us-note2}">A copy of your message will be sent to
                                            the email address provided. In case you want to contact us
                                            and provide us with your personal data, we inform you that your personal
                                            data will be processed by Sinema Tickets,
                                            in its capacity as a personal data controller, in accordance
                                            with the Personal Data Protection Act. Simultaneously with
                                            by providing your personal data, you consent to the data specified by you
                                            being used by Cinema Tickets for the provision of the ordered services or
                                            products and/or for communication with you in case of necessity.
                                        </p>
                                        <p th:text="#{contact-us-note3}">The provision of personal data is voluntary.
                                            When for the use of a given service or functionality the Site requires
                                            the provision of personal data, Cinema Tickets clearly indicates the mandatory
                                            or optional nature of the collected data.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h3>Contact <span>Form</span></h3>
                    <form id="contacts-form"
                          action="#">
                        <fieldset>
                            <div class="field">
                                <label th:text="#{contact-us-name}">Your Name:</label>
                                <input type="text" value=""/>
                            </div>
                            <div class="field">
                                <label th:text="#{contact-us-email}">Your E-mail:</label>
                                <input type="text" value=""/>
                            </div>
                            <div class="field">
                                <label th:text="#{contact-us-message}">Your Message:</label>
                                <textarea cols="1" rows="1"></textarea>
                            </div>
                            <div class="wrapper"><a href="/" class="link2">
                                <span> <span th:text="#{contact-us-send-message}">Send Message</span> </span> </a></div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>