<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body id="page6">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <h3>CINEMA <span>EXPERIENCE</span></h3>
                                <p><img class="imax-pic" src="/images/imax-cinema.jpeg" alt="imax"/></p>
                                <div class="content">
                                    <div>
                                        <iframe width="300" height="330" src="https://www.youtube.com/embed/B_UvdLYSk7Q"
                                                title="What Is IMAX?"
                                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                gyroscope; picture-in-picture; web-share"
                                                referrerpolicy="strict-origin-when-cross-origin"
                                                allowfullscreen></iframe>
                                        <div class="col-xs-12 col-sm-4">
                                            <h4>КИНО ПРЕЖИВЯВАНЕ</h4>
                                            <p><strong>IMAX -&nbsp; ДА СИ ПО-ГОЛЯМ Е САМО НАЧАЛОТО</strong></p>
                                            <p>Иновативната IMAX технология съчетава в себе си авторски разработен
                                                софтуер, архитектура и
                                                оборудване, които ви пренасят отвъд ръба на седалката в свят,
                                                неподовластен и на най-бурното въображение.
                                                Най-добрите режисьори и студиа използват IMAX, за да постигнат
                                                по-дълбока връзка със своята публика.</p>
                                            <p>Мрежата от IMAX салони е сред най-важните и успешни кино платформи при
                                                разпространението на блокбастъри в световен мащаб.</p>
                                            <p>IMAX e незабравимо преживяване!&nbsp;Най-добрият начин да се насладите на
                                                IMAX преживяването&nbsp; е като му се отдадете и&nbsp; гледате&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="imax-img">
                                                <img class="img-responsive" src="/images/imax-movies.png">
                                            </div>
                                            <p style="padding-top:8px;"> <strong></strong> </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-8">
                                            <p>Потопете се в най-поглъщащото кино преживяване.</p>
                                            <p><strong>ЗВУК, КОЙТО МОЖЕ ДА&nbsp; ПОЧУВСТВАТЕ</strong></p>
                                            <p>Oгромна експлозия. Шепот в ухото ти. Бумтящият бас, който повече чувстваш
                                                отколкото чуваш. Комбинацията от перфектно настроената&nbsp;&nbsp;
                                                12-канална аудио система и точното позициониране на високоговорителите,
                                                гарантира, че не само ще може да чуете звука от падането на карфица, но
                                                и да определите къде точно e паднала.&nbsp;</p>
                                            <p><strong>СПИРАЩА ДЪХА КАРТИНА</strong></p>
                                            <p>Яснотата, детайлите и размерите правят IMAX филмите различни. Нашият
                                                ремастериращ или DMR процес напълно трансформира всеки кадър от филма,
                                                за да създаде най-добрата възможна версия на визията на режисьора.&nbsp;
                                                Два прожектора работят едновременно, за да осигурят идеалното изображение
                                                с баланс на топлина и острота.</p>
                                            <p><strong>ПОГЛЪЩАЩО ПРЕЖИВЯВАНЕ</strong></p>
                                            <p>Филмите сa да се гледат. Но да гледаш филм в&nbsp; IMAX® е много повече.
                                                Това&nbsp; се нарича IMAX Преживяване®. Всеки елемент в нашия IMAX е
                                                планиран, проектиран и позициониран така, че да създаде най-интензивното
                                                преживяване.&nbsp; Специалната геометрия на залата създава филмова магия
                                                всеки път, когато светлините загаснат.</p>
                                            <p><strong>КИНЕМАТОГРАФИЯ</strong></p>
                                            <p>IMAX камерите са били на върха на Еверест, на дъното на океана и дори в
                                                космоса. Вече 40 години те прекрачват границите на инженерството и са
                                                известни в целия свят като най-доброто оборудване за заснемане
                                                на филми днес.</p>
                                            <p><strong>IMAX ЕКРАН</strong></p>
                                            <p>Височината му е 14 метра, а дължината 24 метра. Изработен е от специален
                                                дифузен сребрист винил, перфориран с хиляди малки дупчици, за да позволяват
                                                на звука да преминава свободно, така наречената "акустична прозрачност".
                                                Екранът е плосък, но има лека дъга, която е извън периферното зрение.
                                                Това, съчетано с 23 градуса ъгъл на разположението на седалките,
                                                предоставя пълна и необезпокоявана видимост от всяка седалка в кино салона.
                                                Дори ако двуметров човек е седнал пред вас, вие ще виждате безпроблемно.
                                                3D ефектът на IMAX 3D технологията е признат за
                                                най-доброто 3D в света.&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>