<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body id="page6">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <h3>CINEMA <span>EXPERIENCE</span></h3>
                                <p><img class="imax-pic" src="/images/imax-cinema.jpeg" alt="imax"/></p>
                                <div class="content">
                                    <div>
                                        <iframe width="323" height="321" src="https://www.youtube.com/embed/B_UvdLYSk7Q"
                                                title="What Is IMAX?"
                                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                gyroscope; picture-in-picture; web-share"
                                                referrerpolicy="strict-origin-when-cross-origin"
                                                allowfullscreen></iframe>
                                        <div class="col-xs-12 col-sm-4">
                                            <h4 th:text="#{imax-title1}">CINEMA EXPERIENCE</h4>
                                            <p><strong th:text="#{imax-title2}">IMAX -&nbsp; BEING BIGGER IS JUST THE BEGINNING</strong></p>
                                            <p th:text="#{imax-title2-desc1}">The innovative IMAX technology combines
                                                proprietary software, architecture and equipment, that take you beyond
                                                the edge of your seat into a world beyond your wildest imagination.
                                                The best filmmakers and studios use IMAX to achieve a deeper connection with their audiences.
                                                по-дълбока връзка със своята публика.</p>
                                            <p th:text="#{imax-title2-desc2}">
                                                The network of IMAX theaters is among the most important and successful
                                                cinema platforms in the distribution of blockbusters worldwide.</p>
                                            <p th:text="#{imax-title2-desc3}">IMAX is an unforgettable experience!
                                                The best way to enjoy the IMAX experience is to indulge yourself and watch:&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="imax-img">
                                                <img class="img-responsive" src="/images/imax-movies.png">
                                            </div>
                                            <p style="padding-top:8px;"> <strong></strong> </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-8">
                                            <p th:text="#{imax-title2-desc4}">Immerse yourself in the most immersive cinema experience.</p>
                                            <p><strong th:text="#{imax-title3}">SOUND YOU CAN FEEL&nbsp;</strong></p>
                                            <p th:text="#{imax-title3-desc1}">=Huge explosion. Whisper in your ear.
                                                The booming bass you feel more than hear.
                                                The combination of the perfectly tuned 12-channel audio system and the precise
                                                positioning of the speakers, ensures that you will not only be able to
                                                hear the sound of a pin falling, but also determine exactly where it has fallen.
                                            </p>
                                            <p><strong th:text="#{imax-title4}">BREATHTAKING PICTURE</strong></p>
                                            <p th:text="#{imax-title4-desc1}">Clarity, detail and size make IMAX movies different.
                                                Our remastering or DMR process completely transforms every frame of the film
                                                to create the best possible version of the director's vision. Two spotlights
                                                work simultaneously to deliver the perfect image with a balance of warmth and sharpness.
                                            </p>
                                            <p><strong th:text="#{imax-title5}">AN IMMERSIVE EXPERIENCE</strong></p>
                                            <p th:text="#{imax-title5-desc1}">The movies are to be watched. But watching
                                                a movie in IMAX® is so much more. It's called the IMAX Experience®.
                                                Every element in our IMAX is planned, designed and positioned to create
                                                the most intense experience.
                                                The hall's special geometry creates cinematic magic every time the lights go down.
                                            </p>
                                            <p><strong th:text="#{imax-title6}">CINEMATOGRAPHY</strong></p>
                                            <p th:text="#{imax-title6-desc1}">MAX cameras have been on top of Mount Everest,
                                                at the bottom of the ocean, and even in space. For 40 years now,
                                                they push the boundaries of engineering and are known worldwide as the best
                                                filmmaking equipment available today.
                                            </p>
                                            <p><strong th:text="#{imax-title7}">IMAX SCREEN</strong></p>
                                            <p th:text="#{imax-title7-desc1}">Its height is 14 meters and its length is 24 meters.
                                                It is made of a special diffused silver vinyl, perforated with thousands
                                                of tiny holes to allow sound to pass freely, so-called "acoustic transparency".
                                                The screen is flat, but has a slight arc that's out of peripheral vision.
                                                This, combined with a 23 degree seat angle, provides full and undisturbed
                                                visibility from every seat in the cinema hall. Even if a two-meter person
                                                is sitting in front of you, you will see without any problem. The 3D effect
                                                of IMAX 3D technology is recognized as the best 3D in the world.</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>