<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cinema Tickets</title>
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div id="slogan">
                    <div class="image png"></div>
                    <div class="inside">
                        <h2>We are breaking<span>All Limitations</span></h2>
                        <p>Cinema Tickets България управлява 7 мултиплекса в 6 различни града в страната
                            – София, Пловдив, Стара Загора, Русе, Бургас и Варна.</p>
                        <div class="wrapper"><a href="/about-us" class="link1"><span><span>Learn More</span></span></a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <h3>Welcome to <b>Cinema</b> <span>Tickets</span></h3>
                                <img class="start-img" src="/images/insideout.png" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h3>Fresh <span>Movies</span></h3>
                    <ul class="movies">
                        <li>
                            <h4>Inside Out 2</h4>
                            <img class="movie-1-pic" src="/images/insideOut2.jpeg" alt="" width="224px" height="269px"/>
                            <p>Egetnunc nunc mattitor curabiturpiscipis nec ac hac pellus sem intesque sociis.
                                Metusmetuer hendimentesque diam at orbi sempor.</p>
                            <div class="wrapper"><a href="/trailer" class="link2"><span><span>See Trailer</span></span></a>
                            </div>
                        </li>
                        <li>
                            <h4>Bad Boys: Ride Or Die</h4>
                            <img class="movie-1-pic" src="/images/badBoysNew.png" alt="" width="224px" height="269px"/>
                            <p>Dolorem malesuada anterdum quis vitae. Cursustellentesque enim justo vestasse vitae
                                trices phasellus leo sociis leo magnisl. Malestibulusnatis. </p>
                            <div class="wrapper"><a href="/trailer" class="link2"><span><span>See Trailer</span></span></a>
                            </div>
                        </li>
                        <li class="last">
                            <h4>Alien: Romulus</h4>
                            <img class="movie-1-pic" src="/images/alien_romulus.jpg" alt="" width="224px" height="269px"/>
                            <p>Quisque felit odio ut nunc convallis semper sente ris feugiat. Odionam leo phasellentum
                                id vitantesque nunc tor quisque a maecenatibus pellus.</p>
                            <div class="wrapper"><a href="/trailer" class="link2"><span><span>See Trailer</span></span></a>
                            </div>
                        </li>
                        <li class="clear">&nbsp;</li>
                    </ul>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>