<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Филми на екран - Премиери - 3D филми | Cinema Tickets</title>
    <link rel="icon" type="/images/x-icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css.map"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/js/bootstrap.js"/>

</head>
<script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body>
<header>
    <article class="logo-container">
        <a href="/"  aria-label="Cinema Tickets" data-automation-id="header-logo-link"
           class="logo-container">
            <img class="logo-img" src="/images/logo3.png" alt="Cinema Tickets Logo">
        </a>
    </article>
    <nav class="navbar-buttons">
        <ul class="nav button-items">
            <li class="nav-item login-nav-item">
                <button class="btn login-btn" href="/">Регистрация</button>
            </li>
            <li class="nav-item login-nav-item">
                <button class="btn login-btn" href="/">Вход</button>
            </li>
        </ul>
    </nav>
</header>


<body>
<nav class="navbar">
    <div class="navbar-background">
        <ul class="navbar-items">
            <li class="navbar-item">
                <a class="navbar-link" href="/program">ПРОГРАМА</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="/">ОФЕРТИ</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="/">4DX</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="/">IMAX</a>
            </li>
        </ul>
    </div>
</nav>

<main class="p-5 align-content-center bg-blur my-main">
    <h2 class="text-light border-bottom"  >Total sold copies of all albums: 10000</h2>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="/images/logo.png" class="card-img-top" alt="logo">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</main>
</body>
</body>

</html>