<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="/css/style-login-register.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/tt-octas-trial" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
</head>

<body id="page7">
<header class="navigation">
    <label class="logo"><a href="/">Cinema <span class="logo-name">Tickets</span></a></label>
    <ul>
        <li><a th:href="@{/users/register}"><img src="/images/signup-green3.gif" alt="login"/></a></li>
    </ul>
</header>
<div class="container">
    <h2 class="text-center text-white">Login</h2>
    <form th:method="post"
          th:action="@{/users/login}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <small  class="text-danger">Incorrect username or password!</small>
        <div class="form-group">
            <label for="username" class="text-white font-weight-bold">Username</label>
            <input id="username"
                   name="username"
                   type="text" min="2" max="50"
                   class="form-control"
                   placeholder="Username"/>
        </div>
        <div class="form-group">
            <label for="password" class="text-white font-weight-bold">Password</label>
            <input id="password"
                   name="password"
                   type="password" min="2"
                   max="20" class="form-control"
                   placeholder="Password"/>

        </div>

        <div class="remember-me">
            <label><input type="checkbox"></label>
            <span>Remember Me</span>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Login"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>
</body>
</html>