<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="~{fragments/commons::head}"></head>
    <link rel="stylesheet" href="/css/style-add-offer.css"/>
</head>
<body id="page9">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div  class="inner"  th:object="${offerView}">
                                <h3 th:text="${offerView.title}">Offer Title</h3>
                                <li>
                                    <img th:src="${offerView.imageUrl}" width="780" height="425"  alt="Offer-image">
                                    <br>
                                </li>
                                <p th:text="${offerView.description}">Offer description</p>
                            </div>
                            <form th:method="delete"
                                  th:action="@{/offers/delete-offer/{offerId}(offerId=${offerView.id})}">
                                <div sec:authorize="hasRole('ADMINISTRATOR')" class="button-holder d-flex justify-content-center">
                                    <button type="submit" class="btn btn-info mb-3">Delete offer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>