<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}"></head>
<link rel="stylesheet" href="/css/style-program.css"/>

<body id="page3">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <th:block sec:authorize="isAuthenticated()">
                                    <div class="button-holder d-flex justify-content-center"
                                         sec:authorize="hasRole('ADMINISTRATOR')">
                                        <a th:href="@{/offers/add-offer}">
                                            <button type="submit">Add Offer</button>
                                        </a>
                                    </div>
                                </th:block>
                                <div class="container-fluid static">
                                    <div class="row mb-md">
                                        <div class="col-md-12">
                                            <h3>Cinema <span>Offers</span></h3>
                                        </div>
                                        <div class="col-md-3" th:each="cinema : ${cinemaOffers}">
                                            <a th:href="@{/offers/offer/{offerId}(offerId=${cinema.id})}" class="cinema-card card"
                                               aria-label="3D PROMO TUESDAY Every Tuesday all 3D screenings at a special discounted price.">
                                                <div class="card-top"
                                                     style="background-image: url('/images/cheaper tuesday.jpg')"
                                                     title="">
                                                    <img th:src="${cinema.imageUrl}"
                                                         class="img-responsive visible-xs" alt="offer-img">
                                                </div>
                                                <div class="card-block">
                                                    <p class="card-text mb-sm"><strong th:text="${cinema.title}">
                                                        3D PROMO TUESDAY</strong></p>
                                                    <p class="card-text" th:text="${cinema.description}" maxlength="50">
                                                        Every Tuesday all 3D screenings at a special discounted price.</p>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="row mb-md">
                                    </div>
                                    <div class="row mb-md">
                                        <div class="col-md-12">
                                            <h3>For the<span> Schools</span></h3>
                                        </div>
                                        <div class="col-md-3" th:each="school : ${schoolOffers}">
                                            <a th:href="@{/offers/offer/{offerId}(offerId=${school.id})}" class="cinema-card card"
                                               aria-label="GROUP BOOKINGS Special offers for schools, teachers and students">
                                                <div class="card-top"
                                                     style="background-image: url('/images/group-bookings.jpg')"
                                                     title="">
                                                    <img th:src="${school.imageUrl}"
                                                         class="img-responsive visible-xs" alt="">
                                                </div>
                                                <div class="card-block">
                                                    <p class="card-text mb-sm"><strong
                                                            th:text="${school.title}">GROUP BOOKINGS</strong></p>
                                                    <p class="card-text" th:text="${school.description}" maxlength="50">
                                                        Special offers for schools, teachers and students</p>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="row mb-md">
                                    </div>
                                    <div class="row mb-md">
                                        <div class="col-md-12">
                                            <h3>For the<span> Business</span></h3>
                                        </div>
                                        <div class="col-md-3" th:each="business : ${businessOffers}">
                                            <a th:href="@{/offers/offer/{offerId}(offerId=${business.id})}" class="cinema-card card"
                                               aria-label="COMPANY VOUCHERS The perfect gift for your employees and customers">
                                                <div class="card-top"
                                                     style="background-image: url('/images/company-vouchers.jpg')"
                                                     title="">
                                                    <img th:src="${business.imageUrl}"
                                                         class="img-responsive visible-xs" alt="">
                                                </div>
                                                <div class="card-block">
                                                    <p class="card-text mb-sm"><strong
                                                            th:text="${business.title}">
                                                        COMPANY VOUCHERS</strong></p>
                                                    <p class="card-text" th:text="${business.description}" maxlength="50">
                                                        The perfect gift for your employees and customers</p>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <ul class="list">
                        <li>
                        </li>
                    </ul>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>