<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <link rel="stylesheet" href="/css/style-program.css"/>
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>
                    <div class="box">
                        <div class="border-right">
                            <div class="border-left">
                                <div class="inner">
                                    <h3 class="title">Projections <span>Today</span></h3>

                                </div>
                            </div>
                        </div>
                    </div>
                <div class="content" th:object="${orderMovie}">
                    <!--                    <div id="displayDate"></div>-->
                    <h4 th:text="${orderMovie.projectionDate}">Choose a date</h4>
                    <h4 th:text="${orderMovie.location.value}">Choose a town</h4>
                    <ul class="list">
                        <li th:each="movieView : ${allViewMovies}" class="movieList">
                            <img th:src="${movieView.imageUrl}" alt="Movie Pic" width="204px" height="219px"/>
                            <a th:href="@{/trailer/{movieId}(movieId=*{id})}" th:text="${movieView.name}"
                               class="title-movie">Name of movie</a><br/>
                            <!-- <a th:href="@{/trailers/trailer/{movieId}(movieId=*{id})}" th:text="${movie.name}">-->
                            <span data-v-048a28f8="" class="qb-movie-rating-info">
                               <img th:src="${movieView.movieClass.getIcon()}"
                                    th:alt="${movieView.movieClass.description}"
                                    type="primary" height="30" tabindex="0" th:aria-label="${movieView.movieClass.description}"
                                    class="rating-icon mr-sm"><div data-v-048a28f8="" class="qb-movie-info-wrapper">
                               <!----><div data-v-048a28f8="" class="pt-xs">
                               <span th:each="genre : ${movieView.genreCategories}" th:text="|${genre.value},|"
                                     data-v-048a28f8="" tabindex="0" class="mr-sm">
                                   Приключенски, Анимация, Комедия, Семеен
                               </span>
                               <span data-v-048a28f8="" class="ml-xs">|</span>
                               <span th:text="|${movieView.movieLength} min.|" data-v-048a28f8=""
                                     tabindex="0" class="mr-xs">101 мин.</span>
                                <div th:text="${movieView.projectionFormat.getValue()}" class="screening-type"
                                     tabindex="0"
                                     aria-label="Screening type: 2D">2D</div>
                                <div data-v-048a28f8="" tabindex="0" class="npm-quickbook">
                                    <th:block th:if="${movieView.getBookingTimes().size() == 0}">
                                        <a class="h4">Coming soon</a>
                                        </th:block>
                                    <a th:if="${movieView.getBookingTimes().size() != 0}"
                                       th:each="bookTime : ${movieView.bookingTimes}"

                                       th:href="@{/order/buy-tickets/{orderId}/movie/{movieId}/time/{timeId}(orderId=${orderMovie.id}, movieId=${movieView.id}, timeId=${bookTime.id})}"
                                       class="btn btn-primary btn-lg"
                                       th:text="${bookTime.bookingTime.value}"> 12:20 </a>
                                    <!--th:href="@{/pathvars/item/{itemId}/detail/{dtlId}(itemId = ${item.id}, dtlId = ${dtl.id})}"-->



<!--                                    <th:block sec:authorize="isAuthenticated()">-->
<!--                                    <a sec:authorize="hasRole('ADMINISTRATOR')"-->
<!--                                       th:href="@{/program/update-projection-time/{movieId}(movieId=*{id})}"-->
<!--                                       class="btn btn-primary btn-lg"> Update projection time </a>-->

<!--                                        <form th:method="delete"-->
<!--                                              th:action="@{/movies/delete-movie/{movieId}(movieId=*{id})}">-->
<!--                                            <div class="button-holder d-flex justify-content-center">-->
<!--                                                <button type="submit" class="btn btn-info mb-3">Delete Movie</button>-->
<!--                                            </div>-->
<!--                                        </form>-->
<!--                                    </th:block>-->
                                </div>
                                <div class="qb-movie-info-column">
                                    <ul class="qb-movie-attributes"></ul>
                                        <span th:text="|(AUD:${movieView.audio}. SUB:${movieView.subtitles}.)|"
                                              tabindex="0" aria-label="dubAbbr">
                                            (ДУБ:бълг. СУБ:спец. бълг. "СС")</span>
                                </div>
                                <!----></div></div></span>
                        </li>
                    </ul>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>