<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:replace="~{fragments/commons::head}"></head>
    <link rel="stylesheet" href="/css/style-program.css"/>
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <header th:replace="~{fragments/commons::nav}"></header>
            <div id="content">
                <div class="line-hor"></div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <h3 class="title">Projections <span>Today</span></h3>
                                <div class="form-row m-5">
                                    <div class="col">
                                        <label for="dateInput"></label>
                                        <input type="date" name="dateInput" id="dateInput"
                                               class="form-control"
                                               placeholder="Select a date">

                                        <small id="dateInputError"
                                               class="form-text bg-danger rounded">
                                            Reserved date cannot be in the past</small>
                                    </div>
                                    <th:block sec:authorize="isAuthenticated()">
                                        <div class="button-holder d-flex justify-content-center"
                                             sec:authorize="hasRole('ADMINISTRATOR')">
                                            <a th:href="@{/movies/add-movie}">
                                                <button type="submit">Add Movie</button>
                                            </a>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
<!--                    <div id="displayDate"></div>-->
                    <h3 id="displayDate">dd/MM<span>/yyyy</span></h3>
                    <ul th:each="movieView : ${allViewMovies}" class="list">
                        <li><img th:src="${movieView.imageUrl}" alt="Movie Pic" width="204px" height="219px"/>
                            <a th:href="@{/trailer/{movieId}(movieId=*{movieView.id})}" th:text="${movieView.name}"
                               class="title-movie">Name of movie</a><br/>
                            <!-- <a th:href="@{/trailers/trailer/{movieId}(movieId=*{id})}" th:text="${movie.name}">-->
                            <span data-v-048a28f8="" class="qb-movie-rating-info">
                               <img src="/images/class_movie_B.gif" alt="Без възрастови ограничения"
                                    type="primary" height="30" tabindex="0" aria-label="Без възрастови ограничения"
                                    class="rating-icon mr-sm"><div data-v-048a28f8="" class="qb-movie-info-wrapper">
                               <!----><div data-v-048a28f8="" class="pt-xs">
                               <span th:each="genre : ${movieView.genreCategories}" th:text="|${genre.value},|"
                                     data-v-048a28f8="" tabindex="0" class="mr-sm">
                                   Приключенски, Анимация, Комедия, Семеен
                               </span>
                               <span data-v-048a28f8="" class="ml-xs">|</span>
                               <span th:text="|${movieView.movieLength} min.|" data-v-048a28f8=""
                                     tabindex="0" class="mr-xs">101 мин.</span>
                                <div th:text="${movieView.movieClass}" class="screening-type" tabindex="0"
                                     aria-label="Screening type: 2D">2D</div>
                                <div  data-v-048a28f8="" tabindex="0" class="npm-quickbook">

                                    <a th:each="bookingTime : ${movieView.startProjectionTimeList}" th:href="@{/tickets/buy-tickets}"
                                       class="btn btn-primary btn-lg" th:text="${bookingTime.value}"> 12:20 </a>
<!--                                    <a href="#"-->
<!--                                       class="btn btn-primary btn-lg"> 14:30 </a>-->
<!--                                    <a href="#"-->
<!--                                       class="btn btn-primary btn-lg"> 16:40 </a>-->
<!--                                    <a href="#"-->
<!--                                       class="btn btn-primary btn-lg"> 18:50 </a>-->

                                    <th:block sec:authorize="isAuthenticated()">
                                    <a sec:authorize="hasRole('ADMINISTRATOR')"
                                       th:href="@{/program/update-projection-time/{movieId}(movieId=*{movieView.id})}"
                                       class="btn btn-primary btn-lg"> Update projection time </a>

                                    <form th:method="delete"
                                          th:action="@{/program/delete-movie/{movieId}(movieId=*{movieView.id})}">
                                    <a href="/program"
                                       class="btn btn-primary-delete btn-lg">Delete Movie</a>
                                    </form>
                                    </th:block>
                                </div>
                                <div class="qb-movie-info-column">
                                    <ul class="qb-movie-attributes"></ul>
                                        <span th:text="|(AUD:${movieView.audio}. SUB:${movieView.subtitles}.)|" tabindex="0" aria-label="dubAbbr">
                                            (ДУБ:бълг. СУБ:спец. бълг. "СС")</span>
                                </div>
                                <!----></div></div></span>
                        </li>


<!--                        <li><img src="/images/insideOut2.jpeg" alt="" width="204px" height="219px"/>-->
<!--                            <a class="title-movie" href="/trailer">Name of movie</a><br/>-->
<!--                            &lt;!&ndash; <a th:href="@{/trailers/trailer/{movieId}(movieId=*{id})}" th:text="${movie.name}">&ndash;&gt;-->
<!--                            <span data-v-048a28f8="" class="qb-movie-rating-info">-->
<!--                               <img src="/images/class_movie_B.gif" alt="Без възрастови ограничения"-->
<!--                                    type="primary" height="30" tabindex="0" aria-label="Без възрастови ограничения"-->
<!--                                    class="rating-icon mr-sm"><div data-v-048a28f8="" class="qb-movie-info-wrapper">-->
<!--                               &lt;!&ndash;&ndash;&gt;<div data-v-048a28f8="" class="pt-xs">-->
<!--                               <span data-v-048a28f8="" tabindex="0" class="mr-sm">Приключенски, Анимация, Комедия, Семеен-->
<!--                               <span data-v-048a28f8="" class="ml-xs">|</span>-->
<!--                               </span>-->
<!--                               <span data-v-048a28f8="" tabindex="0" class="mr-xs">101 мин.</span>-->
<!--                                <div class="screening-type" tabindex="0" aria-label="Screening type: 2D">2D</div>-->
<!--                                <div data-v-048a28f8="" tabindex="0" class="npm-quickbook">-->
<!--                                    <a href="#"-->
<!--                                       class="btn btn-primary btn-lg"> 12:20 </a>-->
<!--                                    <a href="#"-->
<!--                                       class="btn btn-primary btn-lg">-->
<!--                                        14:30 </a>-->
<!--                                    <a href="#"-->
<!--                                       class="btn btn-primary btn-lg"> 16:40 </a>-->
<!--                                    <a href="#"-->
<!--                                       class="btn btn-primary btn-lg">-->
<!--                                        18:50 </a>-->
<!--                                </div>-->
<!--                                <div class="qb-movie-info-column">-->
<!--                                    <ul class="qb-movie-attributes"></ul>-->
<!--                                        <span tabindex="0" aria-label="dubAbbr">(ДУБ:бълг. СУБ:спец. бълг. "СС")</span>-->
<!--                                </div>-->
<!--                                &lt;!&ndash;&ndash;&gt;</div></div></span>-->
<!--                        </li>-->


<!--                        <li><img src="/images/insideOut2.jpeg" alt="" width="204px" height="219px"/>-->
<!--                            <a class="title-movie" href="/trailer">Name of movie</a><br/>-->
<!--                            &lt;!&ndash; <a th:href="@{/trailers/trailer/{movieId}(movieId=*{id})}" th:text="${movie.name}">&ndash;&gt;-->
<!--                            <span data-v-048a28f8="" class="qb-movie-rating-info">-->
<!--                               <img src="/images/class_movie_B.gif" alt="Без възрастови ограничения"-->
<!--                                    type="primary" height="30" tabindex="0" aria-label="Без възрастови ограничения"-->
<!--                                    class="rating-icon mr-sm"><div data-v-048a28f8="" class="qb-movie-info-wrapper">-->
<!--                               &lt;!&ndash;&ndash;&gt;<div data-v-048a28f8="" class="pt-xs">-->
<!--                               <span data-v-048a28f8="" tabindex="0" class="mr-sm">Приключенски, Анимация, Комедия, Семеен-->
<!--                               <span data-v-048a28f8="" class="ml-xs">|</span>-->
<!--                               </span>-->
<!--                               <span data-v-048a28f8="" tabindex="0" class="mr-xs">101 мин.</span>-->
<!--                                <div class="screening-type" tabindex="0" aria-label="Screening type: 2D">2D</div>-->
<!--                                <div data-v-048a28f8="" tabindex="0" class="npm-quickbook">-->
<!--                                    <a href="#"-->
<!--                                       class="btn btn-primary btn-lg"> 12:20 </a>-->
<!--                                    <a href="#"-->
<!--                                       class="btn btn-primary btn-lg">-->
<!--                                        14:30 </a>-->
<!--                                    <a href="#"-->
<!--                                       class="btn btn-primary btn-lg"> 16:40 </a>-->
<!--                                    <a href="#"-->
<!--                                       class="btn btn-primary btn-lg">-->
<!--                                        18:50 </a>-->
<!--                                </div>-->
<!--                                <div class="qb-movie-info-column">-->
<!--                                    <ul class="qb-movie-attributes"></ul>-->
<!--                                        <span tabindex="0" aria-label="dubAbbr">(ДУБ:бълг. СУБ:спец. бълг. "СС")</span>-->
<!--                                </div>-->
<!--                                &lt;!&ndash;&ndash;&gt;</div></div></span>-->
<!--                        </li>-->

                    </ul>
                </div>
            </div>
            <footer th:replace="~{fragments/commons::footer}"></footer>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>