<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head data-lang="13"><title>
    Select Seats
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script language="javascript" type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" language="javascript">
        var eventCode = "280126";
        var requiredCaptcha = "Невалиден код за достъп. Моля, въведете отново.";
    </script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/css/style-order.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style-select-seats.css"/>
    <link type="text/css" rel="stylesheet" href="/css/site.min.css"/>
    <link type="text/css" rel="stylesheet" href="/JScript/Modal/css/modaal.min.css"/>
</head>
<body id="ctl00_pageBody" class="ltr">
<div>
    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="AAA34838"/>
    <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"
           value="/wEdAAQjZDw456Wn2Toqb6OW1D5KEkYf83dE9gtAI2G1FeDq+BtGzc9DSH6A9X8LPX05qkLltBxQEFalMaDLjQqRPRZriOicUjQ5IBHoFn4Ix6x0LEr+f6k="/>
</div>
<input type="hidden" name="hfSKey" id="hfSKey" value="|||||||||BGPlovdivPOW_res|280126|"/>
<input type="hidden" value="9WxVlrar" name="hfOIKey" id="hfOIKey"/>
<div id="pagecontainer" class="pagecontainer selectseatpageres">
    <div class="wrap">
        <div id="header">
            <div id="logo"></div>
        </div>
        <div style="clear: both;"></div>
        <div class="steps">
            <div class="step"><span>1</span><label>Избор на билет</label></div>
            <div class="step onstep"><span>2</span><label>Избор на места</label></div>
            <div class="step"><span>3</span><label>Потвърждение</label></div>
            <div class="step last"><span>4</span><label>Завършване на поръчката</label></div>
            <div class="clear"></div>
        </div>
        <div id="error" class="error" style="display:none;" role="alert">
            <div class="msg-block">
                <div class="msg-title"></div>
            </div>
        </div>
        <div id="success" class="success" style="display:none;">
            <div class="msg-block">
                <div class="msg-title"></div>

            </div>
        </div>
        <div id="info" class="info" style="display:none;">
            <div class="msg-block">
                <div class="msg-title"></div>

            </div>
        </div>
        <div class="sidebar">
            <!--                <script>-->
            <!--                    $(document).ready(function () {-->
            <!--                            $(".more-info a").click(function () {-->
            <!--                                    $(".siteinfo").toggle();-->
            <!--                                    $(".more-info a").text($(".siteinfo").is(":visible") ? "Вижте по-малко" : "Вижте повече");-->
            <!--                                }-->
            <!--                            );-->
            <!--                        }-->
            <!--                    );-->
            <!--                </script>-->
            <div class="selectionInfo">
                <div class="selectionInfoInner">
                    <div class="movieName">
                        <h3>Аз, проклетникът 4 2D</h3>
                    </div>
                    <div class="eventdate">
                        петък 12/07/2024 15:45
                    </div>
                    <div class="siteinfo">
                        <span>CC Plovdiv</span><br/>
                        <span>Зала 2</span><br/>
                        <span id="rating" class="rating restricted">Категория: категория B</span>
                    </div>
                    <div class="more-info">

                        <a href="#">Вижте повече</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="main">
            <div class="seatplan">
                <script src="/JScript/jquery.panzoom.js" type="text/javascript"></script>
                <script src="/JScript/hammer.min.js" type="text/javascript"></script>
                <script src="/JScript/PgwModal/pgwmodal.min.js" type="text/javascript"></script>
                <body-seats>
                    <div id="seats-container">
                    </div>
                    <div class="movie-container">
                    </div>

                    <div class="row-seat"><span class="row-number">1</span>
                        <div class="seatt">1</div>
                        <div class="seatt">2</div>
                        <div class="seatt">3</div>
                        <div class="seatt">4</div>
                        <div class="seatt">5</div>
                        <div class="seatt">6</div>
                        <div class="seatt">7</div>
                        <div class="seatt">8</div>
                        <div class="seatt">9</div>
                        <div class="seatt">10</div>
                        <div class="seatt">11</div>
                        <div class="seatt">12</div>
                        <div class="seatt">13</div>
                        <div class="seatt">14</div>
                        <div class="seatt">15</div>
                        <div class="seatt">16</div>
                        <div class="seatt">17</div>
                        <div class="seatt">18</div>
                        <div class="seatt">19</div>
                        <div class="seatt">20</div>
                    </div>

                    <div class="row-seat"><span class="row-number">2</span>
                        <div class="seatt">1</div>
                        <div class="seatt">2</div>
                        <div class="seatt">3</div>
                        <div class="seatt">4</div>
                        <div class="seatt">5</div>
                        <div class="seatt">6</div>
                        <div class="seatt">7</div>
                        <div class="seatt">8</div>
                        <div class="seatt">9</div>
                        <div class="seatt">10</div>
                        <div class="seatt">11</div>
                        <div class="seatt">12</div>
                        <div class="seatt">13</div>
                        <div class="seatt">14</div>
                        <div class="seatt">15</div>
                        <div class="seatt">16</div>
                        <div class="seatt">17</div>
                        <div class="seatt">18</div>
                        <div class="seatt">19</div>
                        <div class="seatt">20</div>
                    </div>

                    <div class="row-seat"><span class="row-number">3</span>
                        <div class="seatt">1</div>
                        <div class="seatt">2</div>
                        <div class="seatt">3</div>
                        <div class="seatt">4</div>
                        <div class="seatt">5</div>
                        <div class="seatt">6</div>
                        <div class="seatt">7</div>
                        <div class="seatt">8</div>
                        <div class="seatt">9</div>
                        <div class="seatt">10</div>
                        <div class="seatt">11</div>
                        <div class="seatt">12</div>
                        <div class="seatt">13</div>
                        <div class="seatt">14</div>
                        <div class="seatt">15</div>
                        <div class="seatt">16</div>
                        <div class="seatt">17</div>
                        <div class="seatt">18</div>
                        <div class="seatt">19</div>
                        <div class="seatt">20</div>
                    </div>

                    <div class="row-seat"><span class="row-number">4</span>
                        <div class="seatt">1</div>
                        <div class="seatt">2</div>
                        <div class="seatt">3</div>
                        <div class="seatt">4</div>
                        <div class="seatt">5</div>
                        <div class="seatt">6</div>
                        <div class="seatt">7</div>
                        <div class="seatt">8</div>
                        <div class="seatt">9</div>
                        <div class="seatt">10</div>
                        <div class="seatt">11</div>
                        <div class="seatt">12</div>
                        <div class="seatt">13</div>
                        <div class="seatt">14</div>
                        <div class="seatt">15</div>
                        <div class="seatt">16</div>
                        <div class="seatt">17</div>
                        <div class="seatt">18</div>
                        <div class="seatt">19</div>
                        <div class="seatt">20</div>
                    </div>

                    <div class="row-seat"><span class="row-number">5</span>
                        <div class="seatt">1</div>
                        <div class="seatt">2</div>
                        <div class="seatt">3</div>
                        <div class="seatt">4</div>
                        <div class="seatt">5</div>
                        <div class="seatt">6</div>
                        <div class="seatt">7</div>
                        <div class="seatt">8</div>
                        <div class="seatt">9</div>
                        <div class="seatt">10</div>
                        <div class="seatt">11</div>
                        <div class="seatt">12</div>
                        <div class="seatt">13</div>
                        <div class="seatt">14</div>
                        <div class="seatt">15</div>
                        <div class="seatt">16</div>
                        <div class="seatt">17</div>
                        <div class="seatt">18</div>
                        <div class="seatt">19</div>
                        <div class="seatt">20</div>
                    </div>

                    <div class="row-seat"><span class="row-number">6</span>
                        <div class="seatt">1</div>
                        <div class="seatt">2</div>
                        <div class="seatt">3</div>
                        <div class="seatt">4</div>
                        <div class="seatt">5</div>
                        <div class="seatt">6</div>
                        <div class="seatt">7</div>
                        <div class="seatt">8</div>
                        <div class="seatt">9</div>
                        <div class="seatt">10</div>
                        <div class="seatt">11</div>
                        <div class="seatt">12</div>
                        <div class="seatt">13</div>
                        <div class="seatt">14</div>
                        <div class="seatt">15</div>
                        <div class="seatt">16</div>
                        <div class="seatt">17</div>
                        <div class="seatt">18</div>
                        <div class="seatt">19</div>
                        <div class="seatt">20</div>
                    </div>

                    <div class="row-seat"><span class="row-number">7</span>
                        <div class="seatt">1</div>
                        <div class="seatt">2</div>
                        <div class="seatt">3</div>
                        <div class="seatt">4</div>
                        <div class="seatt">5</div>
                        <div class="seatt">6</div>
                        <div class="seatt">7</div>
                        <div class="seatt">8</div>
                        <div class="seatt">9</div>
                        <div class="seatt">10</div>
                        <div class="seatt">11</div>
                        <div class="seatt">12</div>
                        <div class="seatt">13</div>
                        <div class="seatt">14</div>
                        <div class="seatt">15</div>
                        <div class="seatt">16</div>
                        <div class="seatt">17</div>
                        <div class="seatt">18</div>
                        <div class="seatt">19</div>
                        <div class="seatt">20</div>
                    </div>

                    <div class="row-seat"><span class="row-number">8</span>
                        <div class="seatt">1</div>
                        <div class="seatt">2</div>
                        <div class="seatt">3</div>
                        <div class="seatt">4</div>
                        <div class="seatt">5</div>
                        <div class="seatt">6</div>
                        <div class="seatt">7</div>
                        <div class="seatt">8</div>
                        <div class="seatt">9</div>
                        <div class="seatt">10</div>
                        <div class="seatt">11</div>
                        <div class="seatt">12</div>
                        <div class="seatt">13</div>
                        <div class="seatt">14</div>
                        <div class="seatt">15</div>
                        <div class="seatt">16</div>
                        <div class="seatt">17</div>
                        <div class="seatt">18</div>
                        <div class="seatt">19</div>
                        <div class="seatt">20</div>
                    </div>

                    <div class="row-seat"><span class="row-number">9</span>
                        <div class="seatt">1</div>
                        <div class="seatt">2</div>
                        <div class="seatt">3</div>
                        <div class="seatt">4</div>
                        <div class="seatt">5</div>
                        <div class="seatt">6</div>
                        <div class="seatt">7</div>
                        <div class="seatt">8</div>
                        <div class="seatt">9</div>
                        <div class="seatt">10</div>
                        <div class="seatt">11</div>
                        <div class="seatt">12</div>
                        <div class="seatt">13</div>
                        <div class="seatt">14</div>
                        <div class="seatt">15</div>
                        <div class="seatt">16</div>
                        <div class="seatt">17</div>
                        <div class="seatt">18</div>
                        <div class="seatt">19</div>
                        <div class="seatt">20</div>
                    </div>

                    <div class="row-seat"><span class="row-number-end">10</span>
                        <div class="seatt">1</div>
                        <div class="seatt">2</div>
                        <div class="seatt">3</div>
                        <div class="seatt">4</div>
                        <div class="seatt">5</div>
                        <div class="seatt">6</div>
                        <div class="seatt">7</div>
                        <div class="seatt">8</div>
                        <div class="seatt">9</div>
                        <div class="seatt">10</div>
                        <div class="seatt">11</div>
                        <div class="seatt">12</div>
                        <div class="seatt">13</div>
                        <div class="seatt">14</div>
                        <div class="seatt">15</div>
                        <div class="seatt">16</div>
                        <div class="seatt">17</div>
                        <div class="seatt">18</div>
                        <div class="seatt">19</div>
                        <div class="seatt">20</div>
                    </div>

<!--                    <button id="bookBtn">-->
<!--                        Book now-->
<!--                    </button>-->

                </body-seats>
                <script src="/js/SeatPlanRes.js" type="text/javascript"></script>
                <div id="premium" style="display:none"></div>
                <h1>Изберете места</h1>
                <div id="seatselection" class="message required">
                    Моля, изберете 2 място/места.
                </div>
                <div class="splegend">
                    <div class="legendContainer">
                        <div class="legend"><img alt src="/images/icons/SeatAvailable.png"
                                                 class="graphic available"/><span
                                class="label">Свободни места</span></div>
                        <div class="legend"><img alt src="/images/icons/SeatUnavailable.png"
                                                 class="graphic available"/><span class="label">Заети места</span>
                        </div>
                        <div class="legend"><img alt src="/images/icons/SeatSelected.png"
                                                 class="graphic available"/><span class="label">Вашият избор</span>
                        </div>
                    </div>
                </div>
                <style>
                    #SeatPlanContainer #myCanvas {
                        width: 100%;
                    }

                </style>
                <div class="seatplanControl">
                    <div class="screen"><img src="/images/icons/screen.png"/></div>
                    <div id="SeatPlanContainer" style="direction:ltr;">
                        <div id="panzoom-parent" style=" padding:0; ">
                            <canvas id="myCanvas" style="background-color: rgba(203,203,203,0);"
                                    class="panzoom"></canvas>
                        </div>
                    </div>

                    <div id="accesibleSeatPlanContainer">
                        <table class="tableSP"></table>
                    </div>
                </div>
                <div class="actionHolder">
                    <a id="btnNext" class="actionBtn">Продължи</a>
                    <a th:href="@{/order/buy-tickets/1/movie/5/time/10}" id="backBtn"
                       class="cancelBtn back-link">Назад</a>
                </div>
                <!--                    <script type="text/javascript" language="javascript">-->
                <!--                        var imgPrefix = "";-->
                <!--                        // premium seats-->
                <!--                        $(document).ready(function () {-->
                <!--                                $("div.seat").each(function () {-->
                <!--                                        if ($(this).css('background-image').indexOf('pr=1') > -1) {-->
                <!--                                            $(this).click(function () {-->
                <!--                                                    $("#Premium").modal({overlayClose: true}-->
                <!--                                                    );-->
                <!--                                                }-->
                <!--                                            );-->
                <!--                                        }-->

                <!--                                    }-->
                <!--                                );-->
                <!--                                //-->
                <!--                            }-->
                <!--                        );-->
                <!--                    </script>-->
                <div id="tooclosecontainer" style="display:none;">
                    <div class="tooclose">
                        You are about to reserve tickets in the first rows, Ary you sure?
                        <div class="actionHolder clearfix">
                            <a id="btnReselectedSeats" class="actionBtn">Confirm</a>
                            <a id="cancelBtn" class="cancelBtn">Cancel</a>
                        </div>
                    </div>
                </div>
                <div id="confirmationModalContainer" style="display:none;">
                    <div class="confirmationModal">
                        <span></span>
                        <div class="actionHolder clearfix">
                            <a class="actionBtn">Confirm</a>
                            <a class="cancelBtn">Cancel</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="ctl00$CPH1$SeatPlanControl$hfVenueAndSectionId" id="hfVenueAndSectionId"
                       value="280126#2#1"/>
                <input type="hidden" name="ctl00$CPH1$SeatPlanControl$tbSelectedSeats" id="tbSelectedSeats"/>
                <input type="hidden" name="ctl00$CPH1$SeatPlanControl$hdnSeatStatus" id="hdnSeatStatus"
                       value="248;6;0"/>
            </div>
        </div>

    </div>
</div>
</form>
<footer th:replace="~{fragments/commons::footer}"></footer>
<script src="/js/select_seat_script.js"></script>
</body>
</html>