<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head data-lang="12"><title>
    Cinema Tickets
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link type="text/css" rel="stylesheet" href="/css/style-order.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style-select-seats.css"/>
    <link type="text/css" rel="stylesheet" href="/css/site.min.css"/>
    <link type="text/css" rel="stylesheet" href="/JScript/Modal/css/modaal.min.css"/>
</head>
<body id="ctl00_pageBody" class="ltr" th:object="${movieView}">
<label class="logo"><a href="/">Cinema <span class="logo-name">Tickets</span></a></label>
<form th:method="patch"
      th:action="@{/order/select-seats/{orderId}/movie/{movieId}(orderId=${orderDto.id}, movieId=${movieView.id})}"
      th:object="${updateTicket}">

    <div id="pagecontainer" class="pagecontainer selectseatpageres">
        <div class="wrap">
            <div id="header">
                <div id="logo"></div>
            </div>
            <div style="clear: both;"></div>
            <div class="steps">
                <div class="step"><span>1</span><label>Избор на билет</label></div>
                <div class="step onstep"><span>2</span><label>Избор на места</label></div>
                <div class="step"><span>3</span><label>Потвърждение</label></div>
                <div class="step last"><span>4</span><label>Завършване на поръчката</label></div>
                <div class="clear"></div>
            </div>
            <div class="sidebar" th:object="${orderDto}">
                <div class="selectionInfo">
                    <div class="selectionInfoInner">
                        <div class="movieName">
                            <h3 th:text="${orderDto.movieViewName}">Аз, проклетникът 4 2D</h3>
                        </div>
                        <div class="eventdate" th:text="|${orderDto.projectionDate} ${orderDto.bookingTime}|">
                            петък 12/07/2024 15:45
                        </div>
                        <div class="siteinfo">
                            <span th:text="${orderDto.location.value}">CC Plovdiv</span><br/>
                            <span th:text="|Hall ${movieView.hallNumber.value}|">Зала 2</span><br/>
                            <span id="rating" class="rating restricted" th:text="|Category: ${movieView.movieClass.description}|">
                                Категория: категория B</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="seatplan" >

                <div id="premium" style="display:none"></div>
                <h1>Изберете места</h1>
                <div id="seatselection" class="message required"
                     th:text="|Please, select ${(orderDto.getChildQuantity() + orderDto.getOverSixtyQuantity()
                     + orderDto.getRegularQuantity() + orderDto.getStudentQuantity())} seat/seats|">
                    Моля, изберете 2 място/места.
                </div>
                <div class="splegend">
                    <div class="legendContainer">
                        <div class="legend">
                            <img alt src="/images/icons/SeatAvailable.png" class="graphic available"/>
                            <span class="label">Свободни места</span></div>
                        <div class="legend">
                            <img alt src="/images/icons/SeatUnavailable.png" class="graphic available"/>
                            <span class="label">Заети места</span>
                        </div>
                        <div class="legend">
                            <img alt src="/images/icons/SeatSelected.png" class="graphic available"/>
                            <span class="label">Вашият избор</span>
                        </div>
                    </div>
                </div>
                <style>
                    #SeatPlanContainer #myCanvas {
                        width: 100%;
                    }

                </style>
                <div class="seatplanControl">
                    <div class="screen"><img src="/images/icons/screen.png"/></div>
                    <div id="SeatPlanContainer" style="direction:ltr;">
                        <div id="panzoom-parent" style=" padding:0; ">
                            <canvas id="myCanvas" style="background-color: rgba(203,203,203,0);"
                                    class="panzoom"></canvas>
                        </div>
                    </div>
                    <body-seats>

                        <div class="row-seat">
                                <span class="row-number">1</span>
                            <div class="seatt" th:field="${updateTicket.seats[0][0]}">1</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][1]}">2</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][2]}">3</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][3]}">4</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][4]}">5</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][5]}">6</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][6]}">7</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][7]}">8</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][8]}">9</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][9]}">10</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][10]}">11</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][11]}">12</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][12]}">13</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][13]}">14</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][14]}">15</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][15]}">16</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][16]}">17</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][17]}">18</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][18]}">19</div>
                            <div class="seatt" th:field="${updateTicket.seats[0][19]}">20</div>
                        </div>

                        <div class="row-seat">
                            <span class="row-number">2</span>
                            <div class="seatt" th:field="${updateTicket.seats[1][0]}">1</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][1]}">2</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][2]}">3</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][3]}">4</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][4]}">5</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][5]}">6</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][6]}">7</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][7]}">8</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][8]}">9</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][9]}">10</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][10]}">11</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][11]}">12</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][12]}">13</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][13]}">14</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][14]}">15</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][15]}">16</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][16]}">17</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][17]}">18</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][18]}">19</div>
                            <div class="seatt" th:field="${updateTicket.seats[1][19]}">20</div>
                        </div>

                        <div class="row-seat">
                            <span class="row-number">3</span>
                            <div class="seatt" th:field="${updateTicket.seats[2][0]}">1</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][1]}">2</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][2]}">3</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][3]}">4</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][4]}">5</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][5]}">6</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][6]}">7</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][7]}">8</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][8]}">9</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][9]}">10</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][10]}">11</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][11]}">12</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][12]}">13</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][13]}">14</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][14]}">15</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][15]}">16</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][16]}">17</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][17]}">18</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][18]}">19</div>
                            <div class="seatt" th:field="${updateTicket.seats[2][19]}">20</div>
                        </div>

                        <div class="row-seat">
                            <span class="row-number">4</span>
                            <div class="seatt" th:field="${updateTicket.seats[3][0]}">1</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][1]}">2</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][2]}">3</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][3]}">4</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][4]}">5</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][5]}">6</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][6]}">7</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][7]}">8</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][8]}">9</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][9]}">10</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][10]}">11</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][11]}">12</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][12]}">13</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][13]}">14</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][14]}">15</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][15]}">16</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][16]}">17</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][17]}">18</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][18]}">19</div>
                            <div class="seatt" th:field="${updateTicket.seats[3][19]}">20</div>
                        </div>

                        <div class="row-seat">
                            <span class="row-number">5</span>
                            <div class="seatt" th:field="${updateTicket.seats[4][0]}">1</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][1]}">2</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][2]}">3</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][3]}">4</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][4]}">5</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][5]}">6</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][6]}">7</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][7]}">8</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][8]}">9</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][9]}">10</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][10]}">11</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][11]}">12</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][12]}">13</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][13]}">14</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][14]}">15</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][15]}">16</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][16]}">17</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][17]}">18</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][18]}">19</div>
                            <div class="seatt" th:field="${updateTicket.seats[4][19]}">20</div>
                        </div>

                        <div class="row-seat">
                            <span class="row-number">6</span>
                            <div class="seatt" th:field="${updateTicket.seats[5][0]}">1</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][1]}">2</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][2]}">3</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][3]}">4</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][4]}">5</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][5]}">6</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][6]}">7</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][7]}">8</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][8]}">9</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][9]}">10</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][10]}">11</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][11]}">12</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][12]}">13</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][13]}">14</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][14]}">15</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][15]}">16</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][16]}">17</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][17]}">18</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][18]}">19</div>
                            <div class="seatt" th:field="${updateTicket.seats[5][19]}">20</div>
                        </div>

                        <div class="row-seat">
                            <span class="row-number">7</span>
                            <div class="seatt" th:field="${updateTicket.seats[6][0]}">1</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][1]}">2</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[6][2]}">3</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[6][3]}">4</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[6][4]}">5</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][5]}">6</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][6]}">7</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][7]}">8</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][8]}">9</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][9]}">10</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[6][10]}">11</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[6][11]}">12</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][12]}">13</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][13]}">14</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][14]}">15</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][15]}">16</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][16]}">17</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][17]}">18</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][18]}">19</div>
                            <div class="seatt" th:field="${updateTicket.seats[6][19]}">20</div>
                        </div>

                        <div class="row-seat">
                            <span class="row-number">8</span>
                            <div class="seatt" th:field="${updateTicket.seats[7][0]}">1</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][1]}">2</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][2]}">3</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][3]}">4</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[7][4]}">5</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[7][5]}">6</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[7][6]}">7</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][7]}">8</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][8]}">9</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][9]}">10</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][10]}">11</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][11]}">12</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][12]}">13</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][13]}">14</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][14]}">15</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][15]}">16</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][16]}">17</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[7][17]}">18</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][18]}">19</div>
                            <div class="seatt" th:field="${updateTicket.seats[7][19]}">20</div>
                        </div>

                        <div class="row-seat">
                            <span class="row-number">9</span>
                            <div class="seatt" th:field="${updateTicket.seats[8][0]}">1</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][1]}">2</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][2]}">3</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][3]}">4</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][4]}">5</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][5]}">6</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][6]}">7</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][7]}">8</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][8]}">9</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][9]}">10</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][10]}">11</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][11]}">12</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][12]}">13</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[8][13]}">14</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[8][14]}">15</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[8][15]}">16</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][16]}">17</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][17]}">18</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][18]}">19</div>
                            <div class="seatt" th:field="${updateTicket.seats[8][19]}">20</div>
                        </div>

                        <div class="row-seat">
                            <span class="row-number-end">10</span>
                            <div class="seatt" th:field="${updateTicket.seats[9][0]}">1</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][1]}">2</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][2]}">3</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][3]}">4</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][4]}">5</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][5]}">6</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][6]}">7</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][7]}">8</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][8]}">9</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[9][9]}">10</div>
                            <div class="seatt sold" th:field="${updateTicket.seats[9][10]}">11</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][11]}">12</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][12]}">13</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][13]}">14</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][14]}">15</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][15]}">16</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][16]}">17</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][17]}">18</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][18]}">19</div>
                            <div class="seatt" th:field="${updateTicket.seats[9][19]}">20</div>
                        </div>
                    </body-seats>
                    <div id="accesibleSeatPlanContainer">
                        <table class="tableSP"></table>
                    </div>
                </div>
                <div class="actionHolder">
                    <input type="submit" class="actionBtn" value="Continue"/>

                    <a th:href="@{/order/buy-tickets/{orderId}/movie/{movieId}(orderId=${orderDto.id}, movieId=${movieView.id})}"
                       id="backBtn" class="cancelBtn back-link">Назад</a>
                </div>
            </div>
        </div>

    </div>
    </div>
</form>
<footer th:replace="~{fragments/commons::footer}"></footer>
<script src="/js/select_seat_script.js"></script>
</body>
</html>