<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-automation-id="selectCinema" class="col-sm-3 col-sm-pull-6 qb-cinema-select">
    <div>
        <div class="btn-group bootstrap-select form-control qb- dropup open">
            <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="select9"
                    title="Избрали сте: Пловдив. Моля, кликнете тук за избор на друга опция."
                    aria-label="Избрали сте: Пловдив. Моля, кликнете тук за избор на друга опция." aria-expanded="true">
                <span class="filter-option pull-left"> Пловдив </span>&nbsp;<span class="bs-caret"><span
                    class="caret"></span></span></button>
            <select id="select9" data-container=".selectpicker-dropdown-container" data-livesearch="true"
                    title="ИЗБЕРЕТЕ КИНО" aria-label="ИЗБЕРЕТЕ КИНО" class="form-control qb-selectpicker"
                    tabindex="-98">
                <option class="bs-title-option" value="">ИЗБЕРЕТЕ КИНО</option><!---->
                <option id="1265" data-tokens="Бургас" data-link="https://www.cinemacity.bg/cinemas/burgas"
                        value="1265"> Бургас
                </option>
                <option id="1267" data-tokens="Варна" data-link="https://www.cinemacity.bg/cinemas/varna" value="1267">
                    Варна
                </option>
                <option id="1262" data-tokens="Пловдив" data-link="https://www.cinemacity.bg/cinemas/plovdiv"
                        value="1262"> Пловдив
                </option>
                <option id="1264" data-tokens="Русе" data-link="https://www.cinemacity.bg/cinemas/ruse" value="1264">
                    Русе
                </option>
                <option id="1261" data-tokens="София - Мол София"
                        data-link="https://www.cinemacity.bg/cinemas/mallofsofia" value="1261"> София - Мол София
                </option>
                <option id="1266" data-tokens="София - Парадайс Център"
                        data-link="https://www.cinemacity.bg/cinemas/paradisecenter" value="1266"> София - Парадайс
                    Център
                </option>
                <option id="1263" data-tokens="Стара Загора" data-link="https://www.cinemacity.bg/cinemas/starazagora"
                        value="1263"> Стара Загора
                </option>
            </select></div>
    </div>
</div>
</body>
</html>